*.json filter=lfs diff=lfs merge=lfs -text
*.shp filter=lfs diff=lfs merge=lfs -text
data/*.geojson filter=lfs diff=lfs merge=lfs -text
data/*.shp filter=lfs diff=lfs merge=lfs -text
data/*.shx filter=lfs diff=lfs merge=lfs -text
data/*.dbf filter=lfs diff=lfs merge=lfs -text
data/*.prj filter=lfs diff=lfs merge=lfs -text
